{% extends "base.html" %} {% load static %}
{% block content %}
            <div class="content">           
                <!-- Blog List Start -->
                <div class="container bg-white pt-5">
                    {% for post in posts %}
                    <div class="row blog-item px-3 pb-5">
                        <div class="col-md-5">
                            <img class="img-fluid mb-4 mb-md-0" src="{% static "img/blog.jpg" %}" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ post.title }}</h3>
                            <div class="d-flex mb-3">
                                <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ post.publish|date:"M d, Y" }}</small>
                                <small class="mr-2 text-muted"><i class="fa fa-user"></i> {{ post.author }}</small>
                            </div>
                            <p>{{ post.body|truncatewords:50|linebreaks }}</p>
                            <a class="btn btn-link p-0" href="{% url "blog:single-post" post.slug %}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Blog List End -->
                
                <!-- Footer Start -->
                <div class="container py-4 bg-secondary text-center">
                    <p class="m-0 text-white">
                        &copy; <a class="text-white font-weight-bold" href="#">xBlog</a>. All Rights Reserved. Made by <a class="text-white font-weight-bold" href="https://github.com/ahmedsserag" target="_blank">Ahmed Serag</a>
                    </p>
                </div>
                <!-- Footer End -->
            </div>
{% endblock content %}