{% extends "base.html" %} {% load static %}
{% block content %}
            <div class="content">           
                <!-- Blog List Start -->
                <div class="container bg-white pt-5">
                    {% if posts %}{% for post in posts %}
                    <div class="row blog-item px-3 pb-5">
                        <div class="col-md-5">
                            <img class="img-fluid mb-4 mb-md-0" src="{% static "img/blog.jpg" %}" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ post.title|title }}</h3>
                            <div class="d-flex mb-3">
                                <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ post.publish|date:"M d, Y" }}</small>
                                <small class="mr-2 text-muted"><i class="fa fa-user"></i> {{ post.author }}</small>
                            </div>
                            <p>{{ post.body|truncatewords:50|linebreaks }}</p>
                            <a class="btn btn-link p-0" href="{{ post.get_absolute_url }}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}{% else %}
                    <h3>No Posts Found.</h3>
                    {% endif %}
                </div>
                {% if posts.has_other_pages %}
                <div class="col-12 py-4">
                    <div class="btn-group btn-group-lg w-100">
                        {% if posts.has_previous %}
                        <div class="col d-flex justify-content-start">
                            <a href="?page={{ posts.previous_page_number }}">
                                <button type="button" class="btn btn-outline-primary"><i class="fa fa-angle-left mr-2"></i> Previous</button>
                            </a>
                        </div>
                        {% endif %}
                        <ul class="pagination justify-content-center">
                            {% for i in posts.paginator.page_range %}                                    
                            <li class="page-item {% if i == posts.number %}active{% endif %}">
                            <a class="page-link" href="?page={{i}}">{{i}} <span class="sr-only">{{i}}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% if posts.has_next %}
                        <div class="col d-flex justify-content-end">
                            <a href="?page={{ posts.next_page_number }}">
                                <button type="button" class="btn btn-outline-primary">Next <i class="fa fa-angle-right ml-2"></i></button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>                
                {% endif %}
                <!-- Blog List End -->
                
                <!-- Footer Start -->
                <div class="container py-4 bg-secondary text-center">
                    <p class="m-0 text-white">
                        &copy; <a class="text-white font-weight-bold" href="#">xBlog</a>. All Rights Reserved. Made by <a class="text-white font-weight-bold" href="https://github.com/ahmedsserag" target="_blank">Ahmed Serag</a>
                    </p>
                </div>
                <!-- Footer End -->
            </div>
{% endblock content %}