{% extends "base.html" %} {% load static %}
{% block title %}| {{ post.title }}{% endblock title %}
{% block content %}
            <div class="content">
                <!-- Blog Detail Start -->
                <div class="container py-5 px-2 bg-white">
                    <div class="row px-4">
                        <div class="col-12">
                            <img class="img-fluid mb-4" src="{% static "img/detail.jpg" %}" alt="Image" height="200">
                            <h2 class="mb-3 font-weight-bold">{{ post.title }}</h2>
                            <div class="d-flex">
                                <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{ post.publish|date:"M d, Y" }} - {{ post.publish|time:"h:i A" }}</p>
                                <p class="mr-3 text-muted"><i class="fa fa-user"></i> {{ post.author }}</p>
                            </div>
                            <p>{{ post.body }}</p>
                            <h3 class="mb-3 font-weight-bold">Image of today by xBlog</h3>
                            <img class="w-50 float-left mr-4 mb-3" src="{% static "img/blog-1.jpg" %}" alt="Image">
                            <p>Diam dolor est labore duo invidunt ipsum clita et. Gubergren at lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos. Invidunt sed diam dolores takimata dolor dolore dolore sit. Sit ipsum erat amet lorem et, magna sea at sed et eos. Accusam eirmod kasd lorem clita sanctus ut consetetur et. Et duo tempor sea kasd clita ipsum et. Takimata kasd diam justo est eos erat aliquyam et ut. Ea sed sadipscing no justo et eos labore, gubergren ipsum magna dolor lorem dolore, elitr aliquyam takimata sea kasd dolores diam, amet et est accusam labore eirmod vero et voluptua. Amet labore clita duo et no. Rebum voluptua magna eos magna, justo gubergren labore sit voluptua eos. Dolores et no stet magna et gubergren amet dolor sit, lorem dolore est vero et.</p>
                        </div>
                        <div class="col-12 py-4">
                            <div class="btn-group btn-group-lg w-100">
                                <button type="button" class="btn btn-outline-primary"><i class="fa fa-angle-left mr-2"></i> Previous</button>
                                <button type="button" class="btn btn-outline-primary">Next<i class="fa fa-angle-right ml-2"></i></button>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- Blog Detail End -->
                    
                <!-- Footer Start -->
                <div class="container py-4 bg-secondary text-center">
                    <p class="m-0 text-white">
                        &copy; <a class="text-white font-weight-bold" href="#">xBlog</a>. All Rights Reserved. Made by <a class="text-white font-weight-bold" href="https://github.com/ahmedsserag" target="_blank">Ahmed Serag</a>
                    </p>
                </div>
                <!-- Footer End -->
            </div>
{% endblock content %}
